<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IASG ISELab</title>
    <link href="/static/hacker.css" rel="stylesheet">

    <style>
        .tall-row {
            margin-top: 40px;
        }
        .modal {
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
            z-index: 1;
            display: block;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">IASG ISELab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span> </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/webshell">Web Shell</a></li>
                        <li><a href="/browser">Web Browser</a></li>
                        {#<li><a href="#">Remote Desktop</a></li>#}
                    </ul>
                </li>
                <li>
                    <a href="/logout">Logout {{ current_user }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-dismissable alert-danger">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <div class="jumbotron">
        <h1>IASG ISELab</h1>
        {% if not current_user.is_authenticated %}
        <p>Welcome to the IASG ISELab website!</p>
        <p>This website allows you to interact with our virtual environment without leaving the comfort of your web browser!</p>
        {% endif %}
        <p>For support using ISELab, ask for help in the #iselab channel on <a href="https://iasg.slack.com">iasg.slack.com</a>, or contact us at <a href="mailto:iasg-cabinet@iastate.edu">iasg-cabinet@iastate.edu</a>.</p>
        <form action="/login" method="post" id="netid-input">
            <div class="input-group" style="width:400px">
                <input class="form-control" type="text" placeholder="netID" id="netid" name="username">
                <span class="input-group-addon">@iastate.edu</span>
            </div>
            <input style="width:400px;" class="form-control" type="password" placeholder="*********" id="password" name="password">
            <br>
            <input type="submit" class="btn btn-lg btn-primary" value="Go!">
        </form>
        <br>
        {% if current_user.is_authenticated %}
            <p>The web shell allows you to access a Kali Linux machine in ISELab from your web browser.</p>
            <a class="btn btn-primary" href="/webshell">Web Shell</a>
            <br><br>
            <p>The "web browser" allows you to access websites in ISELab from your web browser.</p>
            <a class="btn btn-primary" href="/browser">Register</a>
        {% else %}
            <a class="btn btn-primary" id="login" role="button">Log In</a>
            <a class="btn btn-primary" href="/register" id="register">Register</a>
        {% endif %}
    </div>


    <div class="row tall-row">
        <div class="col-md-12">
            <p><a href="http://iasg.iac.iastate.edu">IASG</a> &copy; 2017 <a href="http://iasg.iac.iastate.edu">http://iasg.iac.iastate.edu</a></p>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>
    var netid = false;
    $('#netid-input').hide();
    $('#login').click(function() {
        if (!netid) {
            $('#register').hide();
            $('#login').hide();
            $('#netid-input').show();
            netid = true;
        } else {
            document.location = '/term#' + $('#netid').val();
        }
    });
    $(document).keypress(function(e){
        if (e.which == 13){
            $("#login").click();
        }
    });
</script>

</body>
</html>
