{% extends 'base.html' %}
{% block body %}
<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-dismissable alert-danger">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <div class="jumbotron">
        <h1>IASG ISELab</h1>
        {% if not current_user.is_authenticated %}
        <p>Welcome to the IASG ISELab website!</p>
        <p>This website allows you to interact with our virtual environment without leaving the comfort of your web browser!</p>
        {% endif %}
        <p>For support using ISELab, ask for help in the #iselab channel on <a href="https://iasg.slack.com">iasg.slack.com</a>, or contact us at <a href="mailto:iasg-cabinet@iastate.edu">iasg-cabinet@iastate.edu</a>.</p>
        <form action="/login" method="post" id="netid-input">
            <div class="input-group" style="width:400px">
                <input class="form-control" type="text" placeholder="netID" id="netid" name="username">
                <span class="input-group-addon">@iastate.edu</span>
            </div>
            <input style="width:400px;" class="form-control" type="password" placeholder="*********" id="password" name="password">
            <br>
            <input type="submit" class="btn btn-lg btn-primary" value="Go!">
        </form>
        <br>
        {% if current_user.is_authenticated %}
            <p>The web shell allows you to access a Kali Linux machine in ISELab from your web browser.</p>
            <a class="btn btn-primary" href="/webshell">Web Shell</a>
            <br><br>
            <p>The "web browser" allows you to access websites in ISELab from your web browser (very buggy).</p>
            <a class="btn btn-primary" href="/browser">Web Browser</a>
            <br><br>
            {% if vpn %}
                <p>The VPN allows you to place your own computer into the environment for full access. Requires an OpenVPN client to be installed.</p>
                <a class="btn btn-primary" href="/vpn">VPN Config</a>
            {% endif %}
        {% else %}
            <a class="btn btn-primary" id="login" role="button">Log In</a>
            <a class="btn btn-primary" href="/register" id="register">Register</a>
        {% endif %}
    </div>
    {% endblock %}

    {% block script %}
    <script>
        var netid = false;
        $('#netid-input').hide();
        $('#login').click(function() {
            if (!netid) {
                $('#register').hide();
                $('#login').hide();
                $('#netid-input').show();
                netid = true;
            } else {
                document.location = '/term#' + $('#netid').val();
            }
        });
        $(document).keypress(function(e){
            if (e.which == 13){
                $("#login").click();
            }
        });
    </script>
    {% endblock %}
